@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100vh;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #1F1F1F;
}

::-webkit-scrollbar {
  width: 0px;
}
.font-custom {
  font-family: "Poppins", sans-serif;
}
